@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {

} */

.theme-icon {
  @apply w-4 h-4 text-gray-800 dark:text-white
}

/* .them-icon-white {
  filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(97deg) brightness(112%) contrast(100%);
} */
